/* BREADCRUMBS START */

.breadcrumbs {
    @apply flex items-center text-xs;
}

.breadcrumbs > .item {
    @apply mr-2 tracking-wide text-gray-700;
}

.breadcrumbs > .item-link:hover {
    @apply text-gray-800 underline;
}

.breadcrumbs > .item-last {
    @apply text-gray-400;
}

.breadcrumbs > .separator {
    @apply mr-2 text-gray-500;
}

/* BREADCRUMBS END */

/* FORMS START */

.tabs {
    @apply border-b border-gray-200 mb-8 flex;
}

.tabs .tab-item {
    @apply px-7 py-3 mr-3 text-xs md:text-sm text-gray-400 border-b-2 border-white uppercase hover:border-primary-500;
}

.tabs .tab-item.active {
    @apply text-primary-500 font-medium border-primary-500 hover:border-primary-600;
}

.tab-pane {
    @apply hidden;
}

.tab-pane.active {
    @apply block;
}

.form-footer {
    @apply bg-gray-50 flex justify-end -mx-5 -mb-5 px-4 md:-mx-8 md:-mb-8 md:px-8 py-4 rounded-b-lg;
}

.form-inline {
    @apply flex gap-x-6 flex-wrap lg:flex-nowrap w-full;
}

.form-group {
    @apply mb-6 md:mb-9 w-full;
}

.form-inline > .form-group {
    @apply mb-4 lg:mb-8;
}

.form-label {
    @apply block text-xs md:text-sm font-medium text-gray-700 mb-1;
}

.form-input, .selectize-input {
    @apply block px-3 py-2 w-full shadow-sm border border-gray-300 rounded-md text-xs md:text-sm focus:ring-primary-500 focus:border-primary-500;
}

.form-input-with-btn {
    @apply flex items-center items-stretch;
}

.form-input-append-btn {
    @apply border-l-0 rounded-l-none rounded-r-md;
}

/* Form components - TinyMCE */
.form-group > div.tox.tox-tinymce {
    @apply text-gray-800 shadow-sm w-full bg-white border-gray-300 border rounded;
}

/* Form components - toggle */
input:checked ~ .dot {
    @apply transform translate-x-full bg-white;
}
input:checked ~ .toggle-background {
    @apply bg-green-400 !important;
}

.form-input-comment {
    @apply text-xs text-gray-400 mt-2;
}

form fieldset {
    @apply my-6 md:my-9;
}

form fieldset legend {
    @apply block w-full text-primary-500 mb-10 border-b border-gray-200 text-sm md:text-base;
    line-height: 0.1em;
}

form fieldset legend span {
    @apply bg-white pr-4;
}

/* FORMS END */
/* CROPPER START */
.aspect-ratios, .view-modes {
    @apply flex justify-between space-x-1;
}
/* CROPPER END */
